*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

body {
  background-image: url("https://scontent.fgza2-1.fna.fbcdn.net/v/t39.30808-6/275146223_500844958302288_4119212478432717430_n.jpg?stp=dst-jpg_s2048x2048&_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_ohc=rQ0D9z1Xj0EAX8wxa5k&_nc_ht=scontent.fgza2-1.fna&oh=00_AT8UulliPlFkYqAu5zKlUWvRfL6BkkejQgWtxC8ujryTqw&oe=622E0F99");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.father {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}
.menu {
  width: 60%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  background-color: #e67d22a1;
}
.inner-div {
  display: flex;
  align-items: center;
}
.btn-class {
  width: 4rem;
  height: 2rem;
}
